@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html, body {
    width: 100%;

    margin: 0;
    padding: 0;
}

a {
  color: inherit;
  text-decoration:none;
  cursor:pointer;
 }

 #about {
   visibility: hidden;
   vertical-align: top;
 }

header {
  width: inherit;
  height: 9%;

  position: fixed;

  box-sizing: border-box;
  padding-top: 1%;
  padding-bottom: 1%;

  box-shadow:
    inset 1px 1px 0 0 #ff9999,
    inset -1px -1px 0 0 #4d0000;
  background-color: #853641;
  border-color: #1a0000;
  z-index: 2;
}

nav {
  height: 100%;
  width: 100%;
  position: absolute;
}

button:focus {
  outline: none;
}

a#home-title:hover {
  border-color: #F2C2CD;
  border-style: solid;
  border-width: thick;
}

/*
TODO: keep middle text centered!
*/

a > button {
  -webkit-transition: all 0.5s ease;

  width: 10%;
  height: 65%;

  float: right;

  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  text-shadow: -1px 0 #1a0000, 0 1px #1a0000, 1px 0 #1a0000, 0 -1px #1a0000;
  font-size: 1vw;


  margin-right: 2.5%;

  box-shadow:
    inset 1px 1px 0 0 #ff9999,
    inset -1px -1px 0 0 #4d0000;
  background-color: #853641;
  border-color: #1a0000;
}

a > button:active {
  box-shadow:
    inset 1px 1px 0 0 #475e5e;
}

div.progress-check > div.circle {
  width: 1%;

  max-height: 0%;

  padding-top: 1%;

  float: left;

  display: inline-block;

  position: relative;
  top: 15%; left: 0%;
  transform: translate(-50%,-50%);

  margin-top: 1.25%;
  margin-left: 2%;

  background-color: #2E353B;
  border-color: black;
}

.progress-check {
  width: 100%;
  height: 100%;
}

.box {
  border-style: solid;
  border-width: 1px;
}

.circle {
  height: auto;
  border-radius: 50%;
}

.speech-bubble {
  background-color: white;

  border-color: white;

  border-radius: 10px;
  border-top: 0;
  border-left: 0;

  font-family: 'Press Start 2P', cursive;
  color: black;

  overflow:hidden;

  box-sizing: border-box;
  padding: 1.0% 1.5% 0% 2%;

  box-shadow:
    inset 1px 1px 0 0 black,
    inset -1px -1px 0 0 black;
}

.title {
  height: 11%;

  padding-top: 2%;

  text-align: center;

  font-size: 2.5vw;

  top: 55%; left: 50%;
  transform: translate(-50%,-50%);

  z-index: 1;
}

.page {
  padding-top: 7%;
  /* height: 7%; */
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3%;
  border-color: black;
  background-color: #f2f2f2;
}

#banner {
  width: inherit;
  height: 7%;
}

#home-title {
  position: absolute;
  font-size: 4vh;
}

#contact-title {
  display: inline-block;
  width: 20%;
}


.content-title {
  margin-bottom: 5%;
  padding: 2%;
  font-family: sans-serif;
  border-color: #1a0000;
  text-align: center;
  width: inherit;
  background-color: white;

  box-shadow: 12px 12px 0px 2px black;
}

.icon-content {
  font-size: 6vw;
  text-align: center;
}

.contact-links {
  margin-top: 5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 400px;
}

.project {
  margin-top: 5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 400px;
}

.project-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  margin-right: 5%;
  height: 75%;
  background-color: white;
  box-shadow: 12px 12px 0px 2px black;
}

#googleep {
  background-image: url('googlelogo.png');
}

#makerscollective {
  background-image: url('ArduinoUNO.png');
}

#nycdoitt {
  background-image: url('nycdoitt.png');
}

#facebook {
  background-image: url('facebook.png');
}

#linkedin {
  background-image: url('linkedin.png');
}

#github {
  background-image: url('github.png');
}


.project-content {
  padding-left: 2%;
  font-size: 1.4vw;
  height: 75%;
  flex: 1;
  width: 30%;
  font-family: sans-serif;
  border-color: #1a0000;
  background-color: white;
  box-shadow: 12px 12px 0px 2px black;
}

.divider {
  border-top: solid thin black;

}

.content {
  margin-top: 4%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4vw;
  padding: 2%;
  font-family: sans-serif;
  border-color: #1a0000;
  text-align: center;
  background-color: white;

  box-shadow: 12px 12px 0px 2px black;
}
